@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: theme(colors.neutral.300);
  background-color: theme(colors.neutral.950);
  background-image: radial-gradient(rgba(18, 18, 18, 0.85) 1px, transparent 1px);
  background-size: 0.25rem 0.25rem;
}

/* Simple dark mode for the plotly graphs */
.plot-container:where([data-mode='dark'], [data-mode='dark'] *) {
  filter: invert(85%) hue-rotate(180deg);
}
