# editor and ide settings
.idea/
.vscode/

# installed dependencies
**/node_modules/

# compiled build output
**/dist/

# sqlite database files
**/storage/

# version control and docker metadata
.git/
.gitignore
.dockerignore
Dockerfile
docker-compose.yaml
docker/

# npm debug logs
**/*.log
**/npm-debug.log*

# operating system files
.DS_Store
Thumbs.db

# documentation
README.md
LICENSE.md
